@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
// <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
// * {
//   font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
// }

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Spoqa Han Sans";
  color: #000;
  overflow-x: hidden;
  background-image: url("../images/background.png");
}

button:disabled {
  background-color: rgb(165, 163, 163);
  color: rgb(100, 97, 97);
}
